.bridge {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.bridge-form {
    width: auto;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#button {
    height: 30px;
}

.videoRecordingWrapper {
    display: flex;
    padding: 100px;
    height: 100%;
    padding: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.videoRecordingWrapper video {
    width: 320px;
    height: 240px;
}

.coonectionStatusMessage {
	color: #ffffff;
    z-index: 100;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    font-size: 20px;   
	font-family: "Arial";
	text-align: center;
}