.videoRecordingWrapper {
    background-color: #000000;
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;

}

.videoRecordingWrapper video {    
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
}

.coonectionStatusMessage {
	color: #ffffff;
    z-index: 100;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    font-size: 20px;   
	font-family: "Arial";
	text-align: center;
}